<mat-toolbar color="primary" class="app-header">
  <div class="logo" routerLink="/">
    <img src="icons/la-logo.png" alt="LA Logo" class="logo-img">
    <span class="logo-text">Lifestyle Adapter</span>
  </div>
  <span class="spacer"></span>

  <!-- Desktop Navigation -->
  <div class="desktop-nav">
    <a mat-button href="https://la.vvsk.in" target="_blank">
      <mat-icon>library_books</mat-icon>
      LA Framework 1.0
    </a>

    <ng-container *ngIf="user$ | async as user">
      <a mat-button routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-button routerLink="/notifications">
        <mat-icon>notifications</mat-icon>
        Notifications
      </a>
      <a mat-button routerLink="/profile">
        <mat-icon>person</mat-icon>
        Profile
      </a>
    </ng-container>
  </div>

  <!-- Mobile Navigation -->
  <div class="mobile-nav">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <a mat-menu-item href="https://la.vvsk.in" target="_blank">
        <mat-icon>library_books</mat-icon>
        <span>LA Framework 1.0</span>
      </a>

      <ng-container *ngIf="user$ | async as user">
        <a mat-menu-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-menu-item routerLink="/notifications">
          <mat-icon>notifications</mat-icon>
          <span>Notifications</span>
        </a>
        <a mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </a>
      </ng-container>
    </mat-menu>
  </div>
</mat-toolbar>