.banner-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #000011;
}

.banner-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}